{{set . "title" "Redis Admin"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
<div class="container">
  <div class="row">
    <div class="hero-text">
      <h1>Hello Redis!</h1>
      <p></p>
    </div>
  </div>
</div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      Keys:<br/>
      {{range .ret.Keys}}
      <a href="/?key={{.}}">{{.}}</a><br/>
      {{end}}
    </div>
    <div class="span10">
      Value of Key({{.ret.CurKey}}):<br/>
      <div class="hero-unit">
        {{range .ret.Value}}
        {{.}}<br/>
        {{end}}
      </div>
    </div>
  </div>
</div>

<br/>
<br/>

{{template "footer.html" .}}
